.productos{
    h1{
        padding: 20px;
        text-align: center;
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
    }
    .text{
        display: flex;
        justify-content: center;

        font-size: 16px;
        line-height: 24px;

        padding-bottom: 30px;

        p{
            padding: 12px;
            
            }
        a{
            color: black;
            padding: 12px;
                
            &:hover{
                        
                background-color: #2C2738CC;
                border-radius: 32px;
                color: white;
            }

        }

        .active{
            background-color: #2C2738CC;
            border-radius: 32px;
            color: white;
        }
    }
    
   
    .nuestrostiteres{
        width: 100%;
        max-width: 1500px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;

        .card{
            width: 330px;
            border-radius: 8px;
            overflow: hidden;
            margin: 20px;

            transition: all 0.25;
            
                &:hover{
                    box-shadow: $negro;
                    transform: translateY(-15px);
                    
                }

            img{
                width: 100%;       
            }
            // &:nth-child(1){
            //     color: red;
            // }
            // &:nth-child(2){
            //     color: pink;
            // }
            // &:nth-child(3){
            //     color:royalblue;
            // }
            // &:nth-child(4){
            //     color: seagreen;
            // }
            // &:nth-child(5){
            //     color: rgb(248, 225, 19)
            // }
            // &:nth-child(6){
            //     color: orangered;
            // }
            // &:nth-child(7){
            //     color:rgb(95, 194, 95)
            // }
            // &:nth-child(8){
            //     color: paleturquoise;
            // }
            h4{
                font-weight: 200;
                padding-left: 20px;
            }
        }
    }
    
}

@media (max-width:1280px){

    .productos{
        background-color:rgb(204, 20, 164);

        h1{
            padding: 15px;
            color: white;
        }

        .text{
            font-size: 16px;
            line-height: 15px;

        }

        .todoslostiteres{ 

            margin: 0 auto;
            .column{
                width: 30%;
            }
        }  
    }
}

@media (max-width:992px){

    .productos{
        background-color:rgb(20, 204, 149);

        h1{
            font-size: 35px;
            padding: 15px;
        }

        .text{
            font-size: 16px;
            line-height: 15px;

        }

        .todoslostiteres{ 
            width: 90%;
            margin: 0 auto;
            .column{
                width: 40%;
            }
        }  
    }
}

@media (max-width:768px){
    .productos{
        background-color:rgb(167, 20, 204);
        h1{
            font-size: 35px;
            padding: 10px;
        }

        .text{
            font-size: 16px;
            line-height: 15px;

        }
        .todoslostiteres{ 
            .column{
                width: 45%;
            }
        }  
    }
}

@media (max-width:600px){
    nav{
        img{
            width: 120px;
            margin: 0 15px;
        }
    }
    .menu{
        padding: 0 10px;
        a{
            font-size: 12px;
            color: white;
            padding: 0 2px;
        }
    }

    .productos{
        background-color:rgb(204, 20, 158);
        h1{
            font-size: 28px;
            padding: 8px;
        }

        .text{
            font-size: 15px;
            line-height: 10px;

        }
        .todoslostiteres{ 
            .column{
                width: 40%;
            }
        }  
    }
}

// @media (max-width:480px){
//     nav{
//         img{
//             width: 120px;
//             margin: 0 10px;
//         }
//     }
//     .menu{
//         padding: 0 20px;
//         a{
//             font-size: 10px;
//             color: white;
//             padding: 0 5px;
//         }
//     }

//     .productos{
//         background-color:skyblue;
//         h1{
//             font-size: 20px;
//             padding: 8px;
//         }

//         .text{
//             font-size: 12px;
//             line-height: 10px;
    
//             a{
//                 font-size: 10px;
//                 padding: 9px;    
//             }
//         }
//         .todoslostiteres{

//             .column{
//                 box-shadow: $negro;

//                 img{
//                     width:100%
//                 }
//             }
//         }  
//     }
// }

// @media (max-width:320px){
//     .productos{
//         background-color: blueviolet;
//         h1{
//             font-size: 20px;
//             padding: 8px;
//         }

//         .text{
//             font-size: 10px;
//             line-height: 10px;
    
//             a{
//                 padding: 10px;    
//             }
//         }
//         .todoslostiteres{
    
//             .column{
                
//                 box-shadow: $negro;
//                 width: 80%;
//             }
//         }  
//     }
// }